.calendarContainer {
    color:var(--trip-orange);
    display: grid;
    grid-template-columns: 60% 1fr;
    padding: 2rem;
    overflow: scroll;
    grid-column-gap: 2rem;
}

@media screen and (max-width: 900px){
    .calendarContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.calendarContainer button:focus {
    outline: none;
    color: white;
    background-color: var(--trip-orange);
    border-style: inset;
}

.calendarContainer button {
    height: 4rem;
    width: 3rem;
    border: 2px var(--trip-orange) outset;
    border-radius:2px;
    font-size: 1rem;
    color: var(--trip-orange);

}


.calendarContainer > div > div:nth-child(2) > div > div >div:nth-child(even) {
    color: white;
    background-color: var(--trip-orange);
}

.calendarSummary {
    max-height: 100%;
    overflow: scroll;
    padding: 1rem;
    border: 2px var(--trip-orange) solid;

}

.calendarSummary > h1 {
    background-color: var(--trip-orange);
    color: white;
}