.chatBox {
    width: 100%;
    display: grid;
    grid-template-rows: 3rem auto;
    background-color: var(--page-background-color);
}

.chatBoxHead {
    position: relative;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
    url('../public/decor-img/chat-head.jpg');
    /*Photo by Naomi Irons on Unsplash*/
    background-size: cover;
    box-shadow: var(--box-shadow-color) -1px -1px 1px;
}

.chatBoxBody {
    min-height: 300px;
    max-height: 40vh;
    width: 100%;

}

.popButton {
    position: absolute;
    right: 0;
}

.newMessageNum {
    min-width: 0.5em;
    height: 0.5em;
    color: white;
    display: inline-block;
    border-radius: 100%;
    background-color: var(--trip-orange);
    position: relative;
    right: 0.5em;
    font-size: 0.2em;
    bottom: 0.5em;

}