.container {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: 3em 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "header header" "side main";
}

.container > aside {
    grid-area: side;
}


.container > aside > div {
    position: relative;
    top: 15%;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.container a:first-child {
    margin-bottom: 30px;
}

.container > main {
    grid-area: main;
    overflow: auto;
    display: grid;
    grid-template-rows:1fr auto;
    box-shadow: var(--box-shadow-color) -1px 2px 2px;
    border-left: 1px solid var(--page-border-color);
}

.container > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 20px;
    grid-area: header;
    font-size: larger;
    line-height: 2em;
    font-weight: bolder;
    background-color: var(--page-background-color);
    width: 100vw;
}

@media screen and (min-width: 1080px) {
    .container > aside {
        width: 165px;

    }
}
