.mainContainer{
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 3em 1fr;
    grid-template-areas: "header" "content";
}

.tripTeamContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: calc(100vh - 3em);
    grid-template-areas:"side main";
    grid-area: content;
}

.tripTeamContainer > aside {
    grid-area: side;
    z-index: 0;
}


.tripTeamContainer > aside > div {
    position: relative;
    top: 15%;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.tripTeamContainer a:first-child {
    margin-bottom: 15px;
}
.tripTeamContainer > main {
    z-index: 2;
    grid-area: main;
    overflow-y: auto;
    display: grid;
    grid-template-rows:1fr auto;
    box-shadow: var(--box-shadow-color) -1px 2px 2px;
    border-left: 1px solid var(--page-border-color);
}


.tripTeamContainer > main:first-child {
    overflow: auto;
}


@media screen and (min-width: 1080px) {
    .tripTeamContainer > aside {
        width: 165px;

    }
}
