.container {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;

}

.slide {
    height: calc(100vh - 3em);
    width: 100vw;
    box-sizing: border-box;
    scroll-snap-align: center;
    position: relative;
    outline: solid #eee 2px;

}

